$header-footer-bg-color: #242323;
$header-footer-color: #e8e8e8;
$color-title: #ffffff;
$text-description: #2f2e2e;
$size-title-description: 38px;
$size-subtitle-description: 24px;
$mobile-size-title-description: 30px;
$mobile-size-text-description: 15px;
$mobile-size-title-small: 23px;
$mobile-size-title-big: 33px;
