@import "../variables";
@import "../mixins";

.home-ice-creame {
  background-color: #f9db79;
  width: 100%;
  height: 770px;
  margin-top: -100px;
  position: relative;
  z-index: 1;
  &__img-wrapper {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
  }
  &__img {
    height: 575px;
  }
  &__title {
    &_small {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include titleSmall();
    }
    &_big {
      position: absolute;
      left: 50%;
      top: 63%;
      transform: translate(-50%, -50%);
      @include titleBig();
    }
  }
  &__btn {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    color: $color-title;
    @include btn();
    &:hover {
      @include btnHover();
    }
  }
}

@media screen and (max-width: 935px) {
  .home-ice-creame {
    &__title {
      &_big {
        font-size: 90px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-ice-creame {
    margin-top: 0px;
    height: 395px;
    &__img {
      height: 328px;
    }
    &__title {
      &_small {
        font-size: $mobile-size-title-small;
      }
      &_big {
        font-size: $mobile-size-title-big;
      }
    }
    &__btn {
      @include btnMobile();
    }
  }
}
